{% extends 'base.html.twig' %}

{% block title %}Hello CommandController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for command in commands %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ path('command.show', { id : command.getId() }) }}">{{ command.getId() }}<a></td>
                    <td><a href="{{ path('command.show', { id : command.getId() }) }}">{{ command.getEmail() }}<a></td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}

{# {% for product in command.products %}
                    
{% endfor %} #}